{{!-- docs navigation --}}
<div class="link{{type}} links list-group-item" id="link{{type}}{{rid}}" data-screen="{{type}}{{rid}} "  data-rid="{{rid }}" data-selected="0" data-status="1">
  <div id="controlCont{{type}}{{rid}}" class="controlCont">
    <div class="controls status" data-status="{{status}}">
      <a class="statusanch">{{status}}</a>
    </div>

    <div class="controls delete">
      <a class="deleteanch"></a>
    </div>
  </div>
  <div class="mainpreview tooltip2" id="mainpdocs{{rid}}" title="{{title}}" data-screen="{{type}}{{rid}}" data-rid="{{rid}}">{{title}}</div>
</div>