{{!-- note navigation --}}
<div class="linknotes links col-sm-2" id="link{{id}}" data-screen="{{id}}" data-rid="{{rid}}" data-selected="0"
     data-status="{{status}}" draggable="true" >
  <div class="mainpreview" id="mainp{{id}}" data-screen="{{id}}" data-rid="{{rid}}">
    <img class="thumbnail" id="thumbnail{{rid}}" src="{{content_path}}">
  </div>

  <div id="controlCont{{id}}" class="controlCont">

    <div class="controls status" data-status="{{status}}" title="{{titleAction}}">
      <a class="statusanch">{{getString 'status'}}{{status}}</a>
    </div>

    <div class="controls delete" title="{{getString 'delete'}}">
      <a class="deleteanch">{{getString 'delete'}}</a>
    </div>

  </div>

</div>
