<div id="editPollModal" class="modal in" tab-index="-1" area-hidden="true" style="display: block; padding-right: 0px;">
  <div class="modal-dialog">
    <div class="modal-content" id="pollModalBody">
      <div id="contHead" class="modal-header">
        <button type="button" class="close" id="modalClose" data-dismiss="modal">×</button>
        <div id="editTx" class="row modalHeaderTx panel-body">{{getString 'PEdit'}}</div>
      </div>
      <div id="contBody" class="modal-body">
        <div id="qnTxCont" class="row previewTxCont" style="display: block;"><label class="pollLabel">{{getString 'Question'}}</label>
          <div class="inputWrapper clearfix">
            <textarea id="q" class="qn form-control" value="{{data.questiontext}}" rows="1"></textarea>
          </div>
        </div>
        <div id="optsTxCont" class="row previewTxCont" style="display: block;">
          <label id="pollOptLabel" class="pollLabel">{{getString 'Options'}}</label>
          {{#each data.options}}
            <div class="inputWrapper clearfix">
              <textarea rows="1" id="option{{@key}}" class="opt form-control" value="{{this}}"
                        style="width: 100%; float: left;"></textarea>
            </div>
          {{/each}}
          <div id="addMoreCont" class="addMoreCont">
            <span class="icon-plus"></span>
            <a href="#" id="addMoreOption" class="addMoreOption controls btn btn-default">{{getString 'Addoption'}}</a>
          </div>
        </div>
      </div>
      <div id="contFooter" class="modal-footer">
        <div id="footerCtrCont">
          <button id="reset" class="btn btn-default pull-left controls" type="button">{{getString 'Reset'}}<i class="icon-reset"></i>
          </button>
          <button id="etSave" class="btn btn-default controls">{{getString 'Save'}}<i class="icon-save"></i></button>
          <button id="saveNdPublish" class="btn btn-default controls">{{getString 'Publish'}}<i class="icon-publish"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>