<div class="popover-content hide">
    <div class="pollPreview">
      <div><div class="previewTxCont">
        <label>{{getString 'Question'}} :</label>
        <div class="viewQn">{{data.questiontext}}</div>
      </div>
        <div class="previewTxCont">
          <label>{{getString 'Options'}} :</label>
          {{#each data.options}}
          <div class="viewOpt">
            <input class="opt" name="option" value='{{@key}}' type="radio"  id='{{@key}}' disabled>
            <label>{{this}}</label>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
