<div id="editPollModal" class="modal in" tab-index="-1" area-hidden="true" style="display: block;">
  <div class="modal-dialog">
  <div class="modal-content" id="pollModalBody">
    <div id="contHead" class="modal-header">
      <button type="button" class="close" id="modalClose">×</button>

      <div id="resultTx" class="row modalHeaderTx panel-body">{{getString 'Presult'}}</div>
    </div>
    <div id="resultLayout" class="panel-body">
      <div id="resultLayoutHead" class="row panel">
        <div id="timerWrapper" class="col-md-4">
          <label id="timerLabel">{{getString 'Rtime'}}</label>
          <div id="timerCont"></div>
        </div>
        <div id="votesWrapper" class="col-md-6">
          <label id="congreaPollVoters">{{getString 'VotedSoFar'}}</label>
          <div id="receivedVotes"></div>
        </div>
      </div>
      <div id="resultLayoutBody">
        <div id="TqnPoll" class="panel">
          <label>{{getString 'Question'}} :<span id="qnLabelCont">{{obj.question}}</span></label>
          <div id="nonVotTqn">
            {{#each obj.options}}
              <div>
                <input class="opt" name="option" value="{{@key}}" type="radio" id="{{@key}}">
                <span>{{this}}</span>
              </div>
            {{/each}}
          </div>
        </div>
        <div id="chartMenuCont" class="panel">
          <button id="bar" class=" btn btn-default">
            <a href="#" id="barView">
              <span class="icon-stats-bars cgIcon"></span>
            </a>
          </button>
          <button id="pi" class="btn btn-default">
            <a href="#" id="piView">
              <span class="icon-pie-chart cgIcon"></span>
            </a>
          </button>
          <button id="rList" class="btn btn-default">
            <a href="#" id="listView">
              <span class="icon-list-ul cgIcon"></span>
            </a>
          </button>
        </div>
        <div id="chart" class="row c3" style="max-height: 320px; position: relative;"></div>
        <div class="table-responsive" id="listCont" style="display:none"></div>

      </div>
      <div id="pollResultMsz" class="pollResultMsz panel">{{getString 'watstdrespo'}}</div>
      <div id="resultLayoutFooter" class="row"></div>
    </div>
  </div>
</div>
</div>
