<div id="vcanvas{{cn}}" class="vcanvas socketon" data-wb-id="{{cn}}">
  <div id="containerWb{{cn}}" class="containerWb">
    {{#if hasControl }}
      {{> whiteboardToolbar }}
    {{/if}}
    
    <div id="canvasWrapper{{cn}}" class="canvasWrapper">
      <canvas id="canvas{{cn}}" tabindex="0" >
        {{getString 'canvasmissing'}}
      </canvas>
    </div>
    
  </div>
</div>