<div id="commandToolsWrapper{{cn}}" class="commandToolsWrapper">
  <div id="t_rectangle{{cn}}" class="tool" data-tool="rectangle">
    <a href="#" data-title="Rectangle" class="congtooltip"><span class="icon-rectangle"></span></a>
  </div>

  <div id="t_line{{cn}}" class="tool" data-tool="line">
    <a href="#" data-title="Line" class="congtooltip"> <span class="icon-line"></span></a>
  </div>

  <div id="t_freeDrawing{{cn}}" class="tool" data-tool="freeDrawing">
    <a href="#" data-title="Free hand" class="congtooltip"> <span class="icon-freeDrawing"></span></a>
  </div>

  <div id="t_oval{{cn}}" class="tool" data-tool="oval">
    <a href="#" data-title="Oval" class="congtooltip"> <span class="icon-oval"></span></a>
  </div>

  <div id="t_triangle{{cn}}" class="tool" data-tool="triangle">
    <a href="#" data-title="Triangle" class="congtooltip"> <span class="icon-triangle"></span></a>
  </div>

  <div id="t_text{{cn}}" class="tool" data-tool="text">
    <a href="#" data-title="Text" class="congtooltip"> <span class="icon-text"></span></a>
  </div>

  <div id="t_activeall{{cn}}" class="tool" data-tool="activeAll">
    <a href="#" data-title="Active All" class="congtooltip"> <span class="icon-activeAll"></span></a>
  </div>

  <div id="t_clearall{{cn}}" class="tool" data-tool="clearAll">
    <a href="#" data-title="Clear All" class="congtooltip"> <span class="icon-clearAll"></span></a>
  </div>
</div>