<div id="commandToolsWrapper{{cn}}" class="commandToolsWrapper">
  <div id="t_rectangle{{cn}}" class="tool" data-tool="rectangle">
    <a href="#" data-title="{{getString 'Rectangle'}}" class="congtooltip"><span class="icon-rectangle cgIcon"></span></a>
  </div>

  <div id="t_line{{cn}}" class="tool" data-tool="line">
    <a href="#" data-title="{{getString 'Line'}}" class="congtooltip"> <span class="icon-line cgIcon"></span></a>
  </div>

  <div id="t_freeDrawing{{cn}}" class="tool" data-tool="freeDrawing">
    <a href="#" data-title="{{getString 'Freehand'}}" class="congtooltip"> <span class="icon-freeDrawing cgIcon"></span></a>
  </div>

  <div id="t_oval{{cn}}" class="tool" data-tool="oval">
    <a href="#" data-title="{{getString 'Oval'}}" class="congtooltip"> <span class="icon-oval cgIcon"></span></a>
  </div>

  <div id="t_triangle{{cn}}" class="tool" data-tool="triangle">
    <a href="#" data-title="{{getString 'Triangle'}}" class="congtooltip"> <span class="icon-triangle cgIcon"></span></a>
  </div>

  <div id="t_text{{cn}}" class="tool" data-tool="text">
    <a href="#" data-title="{{getString 'Text'}}" class="congtooltip"> <span class="icon-text cgIcon"></span></a>
  </div>

  <div id="t_activeall{{cn}}" class="tool" data-tool="activeAll">

    <a href="#" data-title="{{getString 'ActiveAll'}}" class="congtooltip"> <span class="icon-activeAll cgIcon"></span></a>
  </div>

  <div id="t_clearall{{cn}}" class="tool" data-tool="clearAll">
    <a href="#" data-title="{{getString 'ClearAll'}}" class="congtooltip"> <span class="icon-clearAll cgIcon"></span></a>
  </div>

  <div id="t_color{{cn}}" class="tool" data-tool="color">
    <a href="#" data-title="{{getString 'colorSelector'}}" class="congtooltip">
      <select  id="option{{cn}}" style="width:50px;">
        <option value="#000000" style="background-color: Black;color: #FFFFFF;"></option>
        <option value="#808080" style="background-color: Gray;"></option>
        <option value="#D3D3D3" style="background-color: LightGrey;"></option>
        <option value="#7FFFD4" style="background-color: Aquamarine;"></option>
        <option value="#0000FF" style="background-color: Blue;"></option>
        <option value="#000080" style="background-color: Navy;color: #FFFFFF;"></option>
        <option value="#800080" style="background-color: Purple;color: #FFFFFF;"></option>
        <option value="#FF1493" style="background-color: DeepPink;"></option>
        <option value="#EE82EE" style="background-color: Violet;"></option>
        <option value="#FFC0CB" style="background-color: Pink;"></option>
        <option value="#006400" style="background-color: DarkGreen;color: #FFFFFF;"></option>
        <option value="#008000" style="background-color: Green;color: #FFFFFF;"></option>
        <option value="#9ACD32" style="background-color: YellowGreen;"></option>
        <option value="#FFFF00" style="background-color: Yellow;"></option>
        <option value="#FFA500" style="background-color: Orange;"></option>
        <option value="#FF0000" style="background-color: Red;"></option>
        <option value="#A52A2A" style="background-color: Brown;"></option>
        <option value="#DEB887" style="background-color: BurlyWood;"></option>
        <option value="#F5F5DC" style="background-color: Beige;"></option>
      </select>
    </a>
  </div>

</div>