<div id="commandToolsWrapper{{cn}}" class="commandToolsWrapper">

  <div id="t_freeDrawing{{cn}}" class="tool" data-tool="freeDrawing">
    <a href="#" data-title="{{getString 'Freehand'}}" class="congtooltip"> <span class="icon-freeDrawing cgIcon"></span></a>
  </div>

  <div id="tool_wrapper{{cn}}" class="shapesToolbox" data-currTool="shapes">
    <div id="shapeIcon{{cn}}" class="shapes_icon">
      <a href="#" data-title="{{getString 'Shapes'}}" class="congtooltip"><span class="icon-shapes cgIcon"></span></a>
    </div>

    <div id="shapes{{cn}}" class="shapesTool">
      <div id="t_rectangle{{cn}}" class="tool" data-tool="rectangle">
        <a href="#" data-title="{{getString 'Rectangle'}}" class="congtooltip"><span class="icon-rectangle cgIcon"></span></a>
      </div>

      <div id="t_line{{cn}}" class="tool" data-tool="line">
        <a href="#" data-title="{{getString 'Line'}}" class="congtooltip"> <span class="icon-line cgIcon"></span></a>
      </div>

      <div id="t_oval{{cn}}" class="tool" data-tool="oval">
        <a href="#" data-title="{{getString 'Oval'}}" class="congtooltip"> <span class="icon-oval cgIcon"></span></a>
      </div>

      <div id="t_triangle{{cn}}" class="tool" data-tool="triangle">
        <a href="#" data-title="{{getString 'Triangle'}}" class="congtooltip"> <span class="icon-triangle cgIcon"></span></a>
      </div>
    </div>
  </div>

  <div id="t_text{{cn}}" class="tool" data-tool="text">
    <a href="#" data-title="{{getString 'Text'}}" class="congtooltip"> <span class="icon-text cgIcon"></span></a>
  </div>

  <div id="t_strk{{cn}}" class="tool" data-tool="stroke">
    <a href="#" data-title="{{getString 'strk'}}" class="congtooltip">Size ▾</a>
    <ul class="strkSizeList">
        <li id="strk-1{{cn}}" data-stroke="1" class="selected"><span style="height: 1px;"></span></li>
        <li id="strk-2{{cn}}" data-stroke="3"><span style="height: 2px;"></span></li>
        <li id="strk-3{{cn}}" data-stroke="5"><span style="height: 3px;"></span></li>
        <li id="strk-4{{cn}}" data-stroke="7"><span style="height: 4px;"></span></li>
        <li id="strk-5{{cn}}" data-stroke="9"><span style="height: 6px;"></span></li>
    </ul>
  </div>

  <div id="t_font{{cn}}" class="tool hide" data-tool="font">
    <a href="#" data-title="{{getString 'font'}}" class="congtooltip">Size ▾</a>
      <ul class="fontSizeList">
        <span id="font-1{{cn}}" data-font="25" style="font-size:15px; line-height:15px;" class="selected">25</span>
        <span id="font-2{{cn}}" data-font="30" style="font-size:20px; line-height:20px;">30</span>
        <span id="font-3{{cn}}" data-font="35" style="font-size:25px; line-height:23px;">35</span>
        <span id="font-4{{cn}}" data-font="40" style="font-size:28px; line-height:25px;">40</span>
        <span id="font-5{{cn}}" data-font="45" style="font-size:33px; line-height:25px;">45</span>
      </ul>
  </div>

  <div id="t_color{{cn}}" class="tool" data-tool="color">
    <a href="#" data-title="{{getString 'colorSelector'}}" class="congtooltip"><span class="icon-color cgIcon"></span><span class="disActiveColor"></span></a>
    <table id="colorList{{cn}}" class="table" >
      <tbody>
      <tr>
        <td id="cell-1{{cn}}" title="{{getString 'black'}}" data-color="#000000" bgcolor="#000000"></td>
        <td id="cell-2{{cn}}" title="{{getString 'dark-gray-4'}}" data-color="#434343" bgcolor="#434343"></td>
        <td id="cell-3{{cn}}" title="{{getString 'dark-gray-3'}}" data-color="#666666" bgcolor="#666666"></td>
        <td id="cell-4{{cn}}" title="{{getString 'dark-gray-2'}}" data-color="#999999" bgcolor="#999999"></td>
        <td id="cell-5{{cn}}" title="{{getString 'dark-gray-1'}}" data-color="#b7b7b7" bgcolor="#b7b7b7"></td>
        <td id="cell-6{{cn}}" title="{{getString 'gray'}}" data-color="#cccccc" bgcolor="#cccccc"></td>
        <td id="cell-7{{cn}}" title="{{getString 'light-gray-1'}}" data-color="#d9d9d9" bgcolor="#d9d9d9"></td>
        <td id="cell-8{{cn}}" title="{{getString 'light-gray-2'}}" data-color="#efefef" bgcolor="#efefef"></td>
        <td id="cell-9{{cn}}" title="{{getString 'light-gray-3'}}" data-color="#f3f3f3" bgcolor="#f3f3f3"></td>
        <td id="cell-10{{cn}}" title="{{getString 'white'}}"  data-color="#ffffff" bgcolor="#ffffff"></td>
      </tr>
      <tr style="height:5px"></tr>
      <tr>
        <td id="cell-11{{cn}}" title="{{getString 'red-berry'}}" data-color="#980000" bgcolor="#980000"></td>
        <td id="cell-12{{cn}}" title="{{getString 'red'}}" data-color="#ff0000" bgcolor="#ff0000"></td>
        <td id="cell-13{{cn}}" title="{{getString 'yellow'}}" data-color="#FF9900" bgcolor="#FF9900"></td>
        <td id="cell-14{{cn}}" title="{{getString 'orange'}}" data-color="#ffff00" bgcolor="#ffff00"></td>
        <td id="cell-15{{cn}}" title="{{getString 'green'}}" data-color="#00ff00" bgcolor="#00ff00"></td>
        <td id="cell-16{{cn}}" title="{{getString 'cyan'}}" data-color="#00ffff" bgcolor="#00ffff"></td>
        <td id="cell-17{{cn}}" title="{{getString 'cornflower-blue'}}" data-color="#4a86e8" bgcolor="#4a86e8"></td>
        <td id="cell-18{{cn}}" title="{{getString 'blue'}}" data-color="#0000ff" bgcolor="#0000ff"></td>
        <td id="cell-19{{cn}}" title="{{getString 'purple'}}" data-color="#9900ff" bgcolor="#9900ff"></td>
        <td id="cell-20{{cn}}" title="{{getString 'magenta'}}" data-color="#ff00ff" bgcolor="#ff00ff"></td>
      </tr>
      <tr style="height:5px"></tr>
      <tr>
        <td id="cell-21{{cn}}" title="{{getString 'light-red-berry-3'}}"data-color="#e6b8af" bgcolor="#e6b8af"></td>
        <td id="cell-22{{cn}}" title="{{getString 'light-red-3'}}" data-color="#f4cccc" bgcolor="#f4cccc"></td>
        <td id="cell-23{{cn}}" title="{{getString 'light-orange-3'}}" data-color="#fce5cd" bgcolor="#fce5cd"></td>
        <td id="cell-24{{cn}}" title="{{getString 'light-yellow-3'}}" data-color="#fff2cc" bgcolor="#fff2cc"></td>
        <td id="cell-25{{cn}}" title="{{getString 'light-green-3'}}" data-color="#d9ead3" bgcolor="#d9ead3"></td>
        <td id="cell-26{{cn}}" title="{{getString 'light-cyan-3'}}" data-color="#d0e0e3" bgcolor="#d0e0e3"></td>
        <td id="cell-27{{cn}}" title="{{getString 'light-cornflower-blue-3'}}" data-color="#c9daf8" bgcolor="#c9daf8"></td>
        <td id="cell-28{{cn}}" title="{{getString 'light-blue-3'}}" data-color="#cfe2f3" bgcolor="#cfe2f3"></td>
        <td id="cell-29{{cn}}" title="{{getString 'light-purple-3'}}" data-color="#d9d2e9" bgcolor="#d9d2e9"></td>
        <td id="cell-30{{cn}}" title="{{getString 'light-magenta-3'}}" data-color="#ead1dc" bgcolor="#ead1dc"></td>
      </tr>
      <tr>
        <td id="cell-31{{cn}}" title="{{getString 'light-red-berry-2'}}" data-color="#dd7e6b" bgcolor="#dd7e6b"></td>
        <td id="cell-32{{cn}}" title="{{getString 'light-red-2'}}" data-color="#ea9999" bgcolor="#ea9999"></td>
        <td id="cell-33{{cn}}" title="{{getString 'light-orange-2'}}" data-color="#f9cb9c" bgcolor="#f9cb9c"></td>
        <td id="cell-34{{cn}}" title="{{getString 'light-yellow-2'}}" data-color="#ffe599" bgcolor="#ffe599"></td>
        <td id="cell-35{{cn}}" title="{{getString 'light-green-2'}}" data-color="#b6d7a8" bgcolor="#b6d7a8"></td>
        <td id="cell-36{{cn}}" title="{{getString 'light-cyan-2'}}" data-color="#a2c4c9" bgcolor="#a2c4c9"></td>
        <td id="cell-37{{cn}}" title="{{getString 'light-cornflower-blue-2'}}" data-color="#a4c2f4" bgcolor="#a4c2f4"></td>
        <td id="cell-38{{cn}}" title="{{getString 'light-blue-2'}}" data-color="#9fc5e8" bgcolor="#9fc5e8"></td>
        <td id="cell-39{{cn}}" title="{{getString 'light-purple-2'}}" data-color="#a0a7d6" bgcolor="#a0a7d6"></td>
        <td id="cell-40{{cn}}" title="{{getString 'light-magenta-2'}}" data-color="#d5a6bd" bgcolor="#d5a6bd"></td>
      </tr>
      <tr>
        <td id="cell-41{{cn}}" title="{{getString 'light-red-berry-1'}}" data-color="#cc4125" bgcolor="#cc4125"></td>
        <td id="cell-42{{cn}}" title="{{getString 'light-red-1'}}" data-color="#e06666" bgcolor="#e06666"></td>
        <td id="cell-43{{cn}}" title="{{getString 'light-orange-1'}}" data-color="#f6b26b" bgcolor="#f6b26b"></td>
        <td id="cell-44{{cn}}" title="{{getString 'light-yellow-1'}}" data-color="#ffd966" bgcolor="#ffd966"></td>
        <td id="cell-45{{cn}}" title="{{getString 'light-green-1'}}" data-color="#93c47d" bgcolor="#93c47d"></td>
        <td id="cell-46{{cn}}" title="{{getString 'light-cyan-1'}}" data-color="#76a5af" bgcolor="#76a5af"></td>
        <td id="cell-47{{cn}}" title="{{getString 'light-cornflower-blue-1'}}" data-color="#6d9eeb" bgcolor="#6d9eeb"></td>
        <td id="cell-48{{cn}}" title="{{getString 'light-blue-1'}}" data-color="#6fa8dc" bgcolor="#6fa8dc"></td>
        <td id="cell-49{{cn}}" title="{{getString 'light-purple-1'}}" data-color="#8e7cc3" bgcolor="#8e7cc3"></td>
        <td id="cell-50{{cn}}" title="{{getString 'light-magenta-1'}}" data-color="#c27ba0" bgcolor="#c27ba0"></td>
      </tr>
      <tr>
        <td id="cell-51{{cn}}" title="{{getString 'dark-red-berry-1'}}" data-color="#a61c00" bgcolor="#a61c00"></td>
        <td id="cell-52{{cn}}" title="{{getString 'dark-red-1'}}" data-color="#cc0000" bgcolor="#cc0000"></td>
        <td id="cell-53{{cn}}" title="{{getString 'dark-orange-1'}}" data-color="#e69138" bgcolor="#e69138"></td>
        <td id="cell-54{{cn}}" title="{{getString 'dark-yellow-1'}}" data-color="#f1c232" bgcolor="#f1c232"></td>
        <td id="cell-55{{cn}}" title="{{getString 'dark-green-1'}}" data-color="#6aa84f" bgcolor="#6aa84f"></td>
        <td id="cell-56{{cn}}" title="{{getString 'dark-cyan-1'}}" data-color="#45818e" bgcolor="#45818e"></td>
        <td id="cell-57{{cn}}" title="{{getString 'dark-cornflower-blue-1'}}" data-color="#3c78d8" bgcolor="#3c78d8"></td>
        <td id="cell-58{{cn}}" title="{{getString 'dark-blue-1'}}" data-color="#3d85c6" bgcolor="#3d85c6"></td>
        <td id="cell-59{{cn}}" title="{{getString 'dark-purple-1'}}" data-color="#674ea7" bgcolor="#674ea7"></td>
        <td id="cell-60{{cn}}" title="{{getString 'dark-magenta-1'}}" data-color="#a64d79" bgcolor="#a64d79"></td>
      </tr>
      <tr>
        <td id="cell-61{{cn}}" title="{{getString 'dark-red-berry-2'}}" data-color="#85200c" bgcolor="#85200c"></td>
        <td id="cell-62{{cn}}" title="{{getString 'dark-red-2'}}" data-color="#990000" bgcolor="#990000"></td>
        <td id="cell-63{{cn}}" title="{{getString 'dark-orange-2'}}" data-color="#b45f06" bgcolor="#b45f06"></td>
        <td id="cell-64{{cn}}" title="{{getString 'dark-yellow-2'}}" data-color="#bf9000" bgcolor="#bf9000"></td>
        <td id="cell-65{{cn}}" title="{{getString 'dark-green-2'}}" data-color="#38761d" bgcolor="#38761d"></td>
        <td id="cell-66{{cn}}" title="{{getString 'dark-cyan-2'}}" data-color="#134f5c" bgcolor="#134f5c"></td>
        <td id="cell-67{{cn}}" title="{{getString 'dark-cornflower-blue-2'}}" data-color="#1155cc" bgcolor="#1155cc"></td>
        <td id="cell-68{{cn}}" title="{{getString 'dark-blue-2'}}" data-color="#0b5394" bgcolor="#0b5394"></td>
        <td id="cell-69{{cn}}" title="{{getString 'dark-purple-2'}}" data-color="#351c75" bgcolor="#351c75"></td>
        <td id="cell-70{{cn}}" title="{{getString 'dark-magenta-2'}}" data-color="#741b47" bgcolor="#741b47"></td>
      </tr>
      <tr>
        <td id="cell-71{{cn}}" title="{{getString 'dark-red-berry-3'}}" data-color="#5b0f00" bgcolor="#5b0f00"></td>
        <td id="cell-72{{cn}}" title="{{getString 'dark-red-3'}}" data-color="#660000" bgcolor="#660000"></td>
        <td id="cell-73{{cn}}" title="{{getString 'dark-orange-3'}}" data-color="#783f04" bgcolor="#783f04"></td>
        <td id="cell-74{{cn}}" title="{{getString 'dark-yellow-3'}}" data-color="#7f6000" bgcolor="#7f6000"></td>
        <td id="cell-75{{cn}}" title="{{getString 'dark-green-3'}}" data-color="#274e13" bgcolor="#274e13"></td>
        <td id="cell-76{{cn}}" title="{{getString 'dark-cyan-3'}}" data-color="#0c343d" bgcolor="#0c343d"></td>
        <td id="cell-77{{cn}}" title="{{getString 'dark-cornflower-blue-3'}}" data-color="#1c4587" bgcolor="#1c4587"></td>
        <td id="cell-78{{cn}}" title="{{getString 'dark-blue-3'}}" data-color="#073763" bgcolor="#073763"></td>
        <td id="cell-79{{cn}}" title="{{getString 'dark-purple-3'}}" data-color="#20124d" bgcolor="#20124d"></td>
        <td id="cell-80{{cn}}" title="{{getString 'dark-magenta-3'}}" data-color="#4c1130" bgcolor="#4c1130"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="t_activeall{{cn}}" class="tool" data-tool="activeAll">
    <a href="#" data-title="{{getString 'ActiveAll'}}" class="congtooltip"> <span class="icon-activeAll cgIcon"></span></a>
  </div>

  <div id="t_clearall{{cn}}" class="tool" data-tool="clearAll">
    <a href="#" data-title="{{getString 'ClearAll'}}" class="congtooltip"> <span class="icon-clearAll cgIcon"></span></a>
  </div>

</div>