<div class="{{className}} row" id="link{{type}}{{dataset.rid}}"
     data-screen={{type}}{{dataset.rid}} data-rid="{{dataset.rid }}" data-selected="0" data-status="{{dataset.status}}" draggable="true">
  <div id="{{type}}Title{{dataset.rid}}" class="{{type}}Title tooltip2 col-md-9">

  </div>
  <div id="controlCont{{type}}{{dataset.rid}}" class="controlCont col-md-3">
    <div class="controls mainpreview" id="mainp{{type}}{{dataset.rid}}" data-screen="{{type}}{{dataset.rid}}"
         data-rid="{{dataset.rid}}" title="{{getString 'Play'}}"></div>
    {{#if dataset.status}}
      <div class="controls status" data-status="{{dataset.status}}"  title="{{getString 'disable'}}"><a class="statusanch"></a></div>
    {{else}}
      <div class="controls status" data-status="{{dataset.status}}"  title="{{getString 'enable'}}"><a class="statusanch"></a></div>
    {{/if}}
    <div class="controls delete" title ="{{getString 'Delete'}}">
      <a class="deleteanch"></a>
    </div>
  </div>
</div>