<div class="userImg ui-memblist-usr offline student media" id="ml{{peer.userid}}" data-role="student">

  <div class="user-details media-body congtooltip" data-title="{{peer.name}} {{ peer.lname}}">
    <a href="#{{peer.userid}}" class="pull-left">
      <img class="media-object" src="{{peer.img}}">
    </a>
    <div class="usern">
    <a href="#{{peer.userid}}" class="media-heading">{{peer.name}} {{ peer.lname}}</a>
    </div>

  </div>
  {{#if peer.notSelf}}
    <div id="{{peer.userid}}ControlContainer" class="controls">
    </div>
  {{/if}}
</div>