<div id="{{peer.userid}}ControlContainer" class="controls">
  <div id="{{peer.userid}}contrAssignCont" class="controleCont">
    <a id="{{peer.userid}}contrAssignAnch" class="congtooltip"
       data-title="Transfer Controls">
      <span id="{{peer.userid}}contrAssignImg" data-assign-disable="false"
            class="icon-assignImg enable assignImg">
      </span>
    </a>
  </div>
  <div id="{{peer.userid}}contrAudCont" class="controleCont">
    <a id="{{peer.userid}}contrAudAnch" class="congtooltip" data-title="Mute">
      <span id="{{peer.userid}}contrAudImg" data-audio-disable="false" class="icon-audioImg enable audioImg"></span>
    </a>
  </div>
  <div id="{{peer.userid}}contrChatCont" class="controleCont">
    <a id="{{peer.userid}}contrChatAnch" class="congtooltip" data-title="Disable Chat"><span
      id="{{peer.userid}}contrChatImg" data-chat-disable="false" class="icon-chatImg enable chatImg"></span>
    </a>
  </div>
  <div id="{{peer.userid}}contreditorRichCont" class="controleCont controllereditorRich" style="display: none;">
    <a id="{{peer.userid}}contreditorRichAnch" class="congtooltip" data-title="Write Mode">
      <span id="{{peer.userid}}contreditorRichImg" data-editorrich-disable="true"
            class="icon-editorRichImg block editorRichImg"></span>
    </a>
  </div>
  <div id="{{peer.userid}}contreditorCodeCont" class="controleCont controllereditorCode" style="display: none;">
    <a id="{{peer.userid}}contreditorCodeAnch" class="congtooltip" data-title="Write Mode">
          <span id="{{peer.userid}}contreditorCodeImg" data-editorcode-disable="true"
                class="icon-editorCodeImg block editorCodeImg">
          </span>
    </a>
  </div>
</div>