<li id="tabcb{{id}}" class="ui-state-default ui-corner-bottom ui-tabs-active ui-state-active" aria-controls="tabcb{{id}}"><a
  href="#tabcb{{id}}" class="ui-tabs-anchor">{{getString 'adminusr'}}</a> <a href="#" role="button" class="ui-corner-all ui-chatbox-icon"><span
  class="ui-icon icon-close"></span></a>
  <div class="ui-widget ui-corner-top ui-chatbox" id="cb{{id}}" style="width: 230px;">
    <div class="ui-widget-header ui-corner-top ui-chatbox-titlebar ui-dialog-header"><span class="cgText">{{getString 'adminusr'}}</span><a href="#"
                                                                                                                class="ui-chatbox-icon"
                                                                                                                role="button"><span
      class="ui-icon icon-close cgIcon"></span></a><a href="#" class="ui-chatbox-icon" role="button"><span
      class="ui-icon icon-minus cgIcon"></span></a>
    </div>
    <div class="ui-widget-content ui-chatbox-content" id="yui_3_17_2_1_1496992871757_60">
      <div id="{{id}}" class="ui-widget-content ui-chatbox-log">

      </div>
      <div class="ui-widget-content ui-chatbox-input" id="yui_3_17_2_1_1496992871757_59"><textarea
        class="ui-widget-content ui-chatbox-input-box" id="ta{{id}}" style="width: 219px;"></textarea></div>
    </div>
  </div>
</li>