<ul class="chatBarTab nav navbar-nav">
    {{#if control}}
    <li class="vmchat_bar_button  active" id="user_list" >
      <a class="inner_bt congtooltip"  data-title="{{getString 'userList'}}">
        <span id="usertab_text"><span id="onlineusertext" class="cgText">{{getString 'userList'}}</span></span>
      </a>
      <a class="rHandNotify hand_bt">
        <span id="rhtab_text"><span id="notifyText" class="cgText"></span></span>
      </a>

    </li>
      {{else}}
      <li class="vmchat_bar_button congtooltip  active" id="user_list" data-title="{{getString 'userList'}}">

        <a class="inner_bt "  >
          <span id="usertab_text"><span id="onlineusertext" class="cgText">{{getString 'userList'}}</span></span>
        </a>

      </li>
    {{/if}}
  <li class="vmchat_room_bt congtooltip" data-title="{{getString 'commonChat'}}" id="chatroom_bt2">
    <a class="inner_bt">
      <span id="chatroom_icon"><span class="icon-chatroom cgIcon"></span></span>
      <span id="chatroom_text" class="cgText">{{getString 'Chatroom'}}</span>
    </a>
  </li>

<!-- pass control student -->
  {{#if control}}
  {{else}}
    <li class = "handRaise enable congtooltip " id ="congHr" data-title ="{{getString 'RaiseHandStdEnabled'}}">

        <a class="stdRaiseHand">
          <span id="icHr" data-action="enable" class="icon-hr-enable" >
          </span>
        </a>
    </li>
  {{/if}}

</ul>
