<ul class="chatBarTab nav navbar-nav">
    {{#if control}}
    <li class="vmchat_bar_button  active" id="user_list" >
      <a class="inner_bt congtooltip" id="yui_3_17_2_1_1496985300499_68" data-title="Private Chat">
        <span id="usertab_text"><span id="onlineusertext" class="cgText">{{getString 'Pchat'}}</span></span>
      </a>


    </li>
      {{else}}
      <li class="vmchat_bar_button congtooltip  active" id="user_list" data-title="Private Chat">

        <a class="inner_bt " id="yui_3_17_2_1_1496985300499_68" >
          <span id="usertab_text"><span id="onlineusertext" class="cgText">{{getString 'Pchat'}}</span></span>
        </a>

      </li>
    {{/if}}
  <li class="vmchat_room_bt congtooltip" data-title="Common Chat" id="chatroom_bt2">
    <a class="inner_bt">
      <span id="chatroom_icon"><span class="icon-chatroom cgIcon"></span></span>
      <span id="chatroom_text" class="cgText">{{getString 'Chatroom'}}</span>
    </a>
  </li>

<!-- pass control student -->
  {{#if control}}
  {{else}}
    <li class = "handRaise enable congtooltip " id ="congHr" data-title ="raise hand">

        <a class="stdRaiseHand">
          <span id="icHr" data-action="enable" class="icon-hr-enable" >
          </span>
        </a>
    </li>
  {{/if}}

</ul>
<div id="stickybar" class="maximize something-happend" style="z-index: 2000;">
  <div id="tabs" class="tabs-bottom ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
        role="tablist"></ul>
  </div>
  <div id="networkStatusContainer">
    <div id="videoLatency">
      <div id="proposedSpeed">
        <span id="proposedSpeed-inner" class="latency  congtooltip" data-latency="slow" data-title="slow"> &nbsp; </span>
      </div>
    </div>
  </div>

</div>
