<div id= '{{id}}' class='answer' data-parent="{{questionId}}">
  <div class="container">

    <div class= 'header'>
      <div class="info">
        <span class= 'userName'>{{userName}}</span>
        <span class= 'lable'>{{getString 'answerLable'}}</span>
        <span class= 'acceptedAnswer'></span>
      </div>
    </div>

    <div class= 'content'>
      <p></p>
      <span class= 'more'></span>
    </div>

    <div class="footer">
      <div class= 'controls' data-type = 'answer' data-parent="{{id}}">
        <div class= 'upVote' data-type="upvote">
          <span class= 'button'></span>
          <span class= 'total'>0</span>
        </div>
        <div class= 'commentNavigation'>
          <span class= 'button'></span>
          <span class= 'total'>0</span>
        </div>
        <div class= 'comment' data-type="comment">
          <span class= 'button'></span>
        </div>
      </div>
      <div class= 'moreControls' data-type = 'answer'>
        <div class= 'item' data-parent="{{id}}">
          {{#if hasControl}}
            <span class= 'lable'>{{getString 'markAnswer'}}</span>
          {{/if}}
          <span class= 'edit'></span>
          <span class= 'delete'></span>
        </div>
      </div>
    </div>

  </div>
  <div class="comments"></div>
</div>
