<div id= '{{id}}' class= 'question'>
  <div class="container">

    <div class='header'>
      <div class="info">
        <span class='userName'>{{userName}}</span>
        <span class='lable'>{{getString 'questionLable'}}</span>
        <span class='closed-icon'></span>
      </div>
    </div>

    <div class= 'content'>
      <p></p>
      <span class='more'></span>
    </div>

    <div class="footer">
      <div class= 'controls' data-type = 'question' data-parent="{{id}}">
        <div class= 'upVote' data-type="upvote">
          <span class= 'button'></span>
          <span class= 'total'>0</span>
        </div>
        <div class= 'answersNavigation' data-type="answersNavigation">
          <span class= 'button'></span>
          <span class= 'total'>0</span>
        </div>
        <div class= 'reply' data-type="reply">
          <span class= 'button'></span>
        </div>
      </div>
      <div class= 'moreControls' data-type = 'question'>
        <div class= 'item close' data-parent="{{id}}">
          <span class= 'edit' data-type="edit"> {{getString 'edit'}} </span>
          <span class= 'delete' data-type="delete"> {{getString 'delete'}} </span>
        </div>
      </div>
    </div>

  </div>

  <div class="answers"></div>
</div>
