<div id= '{{id}}' class= 'question'>
  <div class="container">

    <div class='header'>
      <div class="info">
        <span class='userName'>{{userName}}</span>
        <span class='lable'>{{getString 'questionlable'}}</span>
        <span class='closed-icon'></span>
      </div>
    </div>

    <div class= 'content'>
      <p></p>
      <span class='more'></span>
    </div>

    <div class="footer">
      <div class= 'controls'>
        <div class= 'upVote'>
          <span class= 'button'></span>
          <span class= 'total'>0</span>
        </div>
        <div class= 'answersNavigation'>
          <span class= 'button'></span>
          <span class= 'total'>0</span>
        </div>
        <div class= 'reply'>
          <span class= 'button'></span>
        </div>
      </div>
      <div class= 'moreControls'>
        <div class= 'item' data-close="close">
          <span class= 'edit'> {{getString 'edit'}} </span>
          <span class= 'delete'> {{getString 'delete'}} </span>
        </div>
      </div>
    </div>

  </div>

  <div class="answers"></div>
</div>
