<div id="appSettingDetail" class="rightContainer">

 {{#if hasControl}}
  <div class="bulkUserActions app-setting-rbs">
    <div class="setting-heading">
        <label class="bulk">{{getString 'bulkUserActions'}}</label>
    </div>
    <ul class="list-group">

      <li class="lists-cont d-flex justify-content-between align-items-center" id ="contrAudioAll">
          <div class="appSettingIcons" id="usersMuteSwitch"></div>
        {{getString 'Audio'}}
        <label class="switch">
          <input type="checkbox" >
          <span class="slider round icon-all-audio-enable congtooltip" id ="contrAudioAllImg" ></span>
        </label>
      </li>

      <li class="lists-cont d-flex justify-content-between align-items-center" id ="contrVideoAll">
        <div class="appSettingIcons" id="usersVideoSwitch"></div>
        {{getString 'Video'}}
        <label class="switch video_toggle">
          <input type="checkbox">
          <span class="slider round icon-all-video-enable congtooltip" id ="contrVideoAllImg" ></span>
        </label>
      </li>

      <li class="lists-cont d-flex justify-content-between align-items-center" id ="contrChatAll">
        <div class="appSettingIcons" id="usersChatSwitch"></div>
        {{getString 'Chat'}}
        <label class="switch chat_toggle">
          <input type="checkbox">
          <span class="slider round icon-all-chat-enable congtooltip" id ="contrChatAllImg" ></span>
        </label>
      </li>

      <li class="lists-cont d-flex justify-content-between align-items-center" id ="contrGroupChatAll">
        <div class="appSettingIcons" id="usersGroupChatSwitch"></div>
        {{getString 'GroupChat'}}
        <label class="switch GroupChat_toggle">
          <input type="checkbox">
          <span class="slider round icon-all-groupChat-enable congtooltip" id ="contrGroupChatAllImg" ></span>
        </label>
      </li>

      <!--<li class="lists-cont d-flex justify-content-between align-items-center" id ="contrRaisehandAll">-->
        <!--<div class="appSettingIcons" id="usersRaisehandSwitch"></div>-->
        <!--{{getString 'RaiseHand'}}-->
        <!--<label class="switch Raisehand_toggle">-->
          <!--<input type="checkbox">-->
          <!--<span class="slider round icon-all-raisehand-enable congtooltip" id ="contrRaisehandAllImg" ></span>-->
        <!--</label>-->
      <!--</li>-->

      <li class="lists-cont d-flex justify-content-between align-items-center" id ="contrAskQuestionAll">
        <div class="appSettingIcons" id="usersAskQuestionSwitch"></div>
        {{getString 'askQuestion'}}
        <label class="switch AskQuestion_toggle">
          <input type="checkbox">
          <span class="slider round icon-all-askQuestion-enable congtooltip" id ="contrAskQuestionAllImg" ></span>
        </label>
      </li>

      <li class="lists-cont d-flex justify-content-between align-items-center" id ="contrUserlistAll">
        <div class="appSettingIcons" id="usersUserlistSwitch"></div>
        {{getString 'UserList'}}
        <label class="switch Userlist_toggle">
          <input type="checkbox">
          <span class="slider round icon-all-userlist-enable congtooltip" id ="contrUserlistAllImg" ></span>
        </label>
      </li>

      <li class="lists-cont d-flex justify-content-between align-items-center" id ="contrQaMarkNotesAll">
        <div class="appSettingIcons" id="usersQaMarkNotesSwitch"></div>
        {{getString 'MarksAndNotes'}}
        <label class="switch QaMarkNotes_toggle">
          <input type="checkbox">
          <span class="slider round icon-all-qaMarkNotes-enable congtooltip" id ="contrQaMarkNotesAllImg" ></span>
        </label>
      </li>
   </ul>
    </div>


{{/if}}
 <div id="settingGeneral" class="app-settings-rbs">
     <div class="setting-heading">
      <label>{{getString 'general'}}</label>
     </div>
        <ul class="list-group">
            <li class="lists-cont d-flex justify-content-between align-items-center">
            <div class="appSettingIcons" id="validate-precheck"></div>
            {{getString 'appPrerequites'}}
            
            </li>
        </ul>

  </div>

  <div id="settingAudioVideo" style="display:none;">
    {{#if hasControl}}
      <div class="uiMuteAll">
        <a id="contrAudioAll">
            <span class="cgIcon"id="contrAudioAllImg" data-action="disable"
                  class="icon-all-audio-disable cgIcon"
                  data-title="{{getString 'muteAll'}}">
            </span>
        </a>
      </div>
    {{/if}}
  </div>


   <div id="settingMedia" class="app-settings-rbs">
    <div id="webRtcIo" class="io" data-suggestion="" >
<!--
      <a id="ancIo">
        <span id="wbRcio" class="rtc  congtooltip"  data-title="webrtc io" >settingMedia </span>
      </a>
-->
    </div>
  </div>

</div>
