<div id="virtualclassAppOptionsCont" style="z-index: 100;">
  <div id="virtualclassOptionsCont" style="z-index: 100;">

    <div class="appOptions" id="virtualclassWhiteboardTool">
      <a class="congtooltip" data-doc="_doc0_0" data-title="{{getString 'Whiteboard'}}" href="#"><span class="icon-whiteboard cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassDocumentShareTool">
      <a class="congtooltip" data-title="{{getString 'DocumentSharing'}}" href="#"><span class="icon-documentShare cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassScreenShareTool">
      <a class="congtooltip" data-title="{{getString 'ScreenShare'}}" href="#"><span class="icon-screenshare cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassVideoTool">
      <a class="congtooltip" data-title="{{getString 'ShareVideo'}}" href="#"><span class="icon-videoUpload cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassPollTool">
      <a class="congtooltip" data-title="{{getString 'poll'}}" href="#"><span class="icon-poll cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassQuizTool">
      <a class="congtooltip" data-title="{{getString 'Quiz'}}" href="#"><span class="icon-quiz cgIcon"></span></a>
    </div>

    <div class="appOptions active" id="virtualclassEditorRichTool">
      <a class="congtooltip" data-title="{{getString 'TextEditor'}}" href="#"><span class="icon-editorRich cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassEditorCodeTool">
      <a class="congtooltip" data-title="{{getString 'CodeEditor'}}" href="#"><span class="icon-editorCode cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassSharePresentationTool">
      <a class="congtooltip" data-title="{{getString 'SharePresentation'}}" href="#"><span class="icon-sharePresentation cgIcon"></span></a>
    </div>

    <div class="appOptions" id="virtualclassMultiVideoTool">
      <a class="congtooltip" data-title="Video Confrence" href="#"><span class="icon-videoConfrence"></span></a>
    </div>

    <div class="appOptions" id="virtualclassSessionEndTool">
      <a class="congtooltip" data-title="{{getString 'SessionEnd'}}" href="#"><span class="icon-sessionend cgIcon"></span></a>
    </div>

  </div>
</div>