  <div id="audioWidget">
  <ul class="nav navbar-nav" id="mainAudioPanel">


    <li id="speakerPressOnce" class="{{classes}}" data-audio-playing={{getString 'dap'}}>
      <a id="speakerPressonce" class="congtooltip" data-title="{{audio_tooltip}}" data-meeting="{{meetingMode}}" name="speakerPressonceAnch"> 
        <span id="speakerPressingbtnIcon" class="audioIcon silenceDetect cgIcon" data-silence-detect="stop"></span>
      </a>
    </li>

<!--
    <li class="prechk congtooltip" data-title="Precheck" id="precheckTest">
      <a><span class="precheck cgIcon"  id="precheckSetting" ></span></a>
    </li>
-->

      <li class="videoSwitchCont congtooltip" data-title="{{getString 'videooff'}}" id="congCtrBar">
        <a id="rightCtlr">
          <span id="videoSwitch" data-action="disable" class="video on" ></span>
        </a>
      </li>

<!--
    <li id="videSpeedNumber" class="suggestion congtooltip" data-suggestion="{{suggestion}}" data-title="{{getString 'proposedspeed'}}"> </li>
    <li id="vedioPacket" >
      <a id="videoPacketInfo">
        <span id="videLatency" class="latency  congtooltip" data-latency="slow" data-title="slow">  </span>
      </a>
    </li>
-->
  </ul>
</div>