<div id="{{id}}" class="markContainer context" style="left:{{width}}%" data-question="{{question}}" data-bookmark="{{bookmark}}" data-note="{{note}}">
  <div class="context"> </div>
  <div class="question"> </div>
  <div class="bookmark"> </div>
  <div class="note"> </div>
</div>
