<div id="popupContainer">
  <div id="about-modal" class="rv-vanilla-modal">
    <div id="recordingContainer" class="popupWindow">
      <div class="rv-vanilla-modal-header group" id="recordingHeaderContainer">
        <h2 class="rv-vanilla-modal-title cgText" id="recordingHeader"> {{getString 'uploadsession'}}</h2>
      </div>

      <div class="rv-vanilla-modal-body">
        <div id="progressContainer">
          <div id="totProgressCont">
            <div id="totalProgressLabel" class="cgText"> {{getString 'totalprogress'}} </div>
            <div id="progress">
              <div id="progressBar" class="progressBar" style="width:0%;"></div>
              <div id="progressValue" class="progressValue"> 0%</div>
            </div>
          </div>

          <div id="indvProgressCont">
            <div id="indvProgressLabel"class="cgText"> {{getString 'indvprogress'}} </div>
            <div id="indProgress">
              <div id="indProgressBar" class="progressBar"></div>
              <div id="indProgressValue" class="progressValue"> 0%</div>
            </div>
          </div>
        </div>

        <div id="recordFinishedMessageBox">
          <span id="recordFinishedMessage">  {{getString 'uploadedsession'}} </span>
          <span id="recordingClose" class="icon-close"></span>
        </div>
      </div>
    </div>

     {{!--  for play window --}}
    <div id="recordPlay" class="popupWindow">
      <div class="rv-vanilla-modal-body">

        <div id="downloadPcCont">
          <div id="downloadSessionText" class="cgText">{{getString 'downloadsession'}}</div>
          <div id="downloadPrgressLabel" class="cgText"> {{getString 'overallprogress'}} </div>

          <!--<div id="downloadProgress">-->
            <!--<div id="downloadProgressBar" class="progressBar"></div>-->
            <!--<div id="downloadProgressValue" class="progressValue"> 0% </div>-->
          <!--</div>-->

        </div>

        <div id="askPlay">
          <div id="askplayMessage"> </div>
          <button id="playButton" class="icon-play cgText">{{getString 'play'}}</button>
        </div>

      </div>
    </div>

     {{!-- for replay window --}}
    <div id="replayContainer" class="popupWindow">
      <p id="replayMessage">{{getString 'replay_message'}}</p>
      <div id="replayClose" class="close icon-close"></div>
      <button id="replayButton" class="icon-repeat cgText">{{getString 'replay'}} </button>
    </div>

     {{!-- For confirm window --}}
    <div id="confirm" class="popupWindow simple-box"></div>

     {{!--  For Session End window --}}
    <div id="sessionEndMsgCont" class="popupWindow">
      <div class="endHeader">
        <h3>{{getString 'sessionexpired'}}</h3>
      </div>
      <span id="sessionEndClose" class="icon-close"></span>
      <span id="sessionEndMsg"> {{getString 'sessionendmsg'}} </span>
    </div>

    <div id="uploadvideourl" class="popupWindow urlValidation">
      <span id="vidPopupClose" class="icon-close urlMszClose "></span>
      <span id="vidUrlValidateTx" class="validationMsz"> {{getString 'validateurlmsg'}} </span>
    </div>
    <div id="uploadppturl" class="popupWindow urlValidation">
      <span id="pptPopupClose" class="icon-close urlMszClose"></span>
      <span id="pptUrlValidateTx" class="validationMsz"> {{getString 'validateurlmsg'}} </span>
    </div>

    {{!-- For confirm window  --}}
    <div id="waitMsgCont" class="popupWindow">
      <span id="waitMsg" class="cgText"> {{getString 'waitmsgconnect'}} </span>
    </div>

    <div id="loadingWindowCont" class="popupWindow">
      <div class="loading">
        <div class="loader-icon"></div>
      </div>

      <div class="askToPlay">
          <span class="icon-play btn"></span>
      </div>
    </div>

    <div id="chromeExtMiss" class="popupWindow">
      <span id="chromeExtClose" class="icon-close"></span>
      <span id="chromeExtMissMsg"> Congrea needs 'Desktop Selector' pugin to share the Screen.<br />You can download the plugin
        <a href='https://chrome.google.com/webstore/detail/desktop-selector/ijhofagnokdeoghaohcekchijfeffbjl' target='_blank'>HERE.</a>
        After installing the plugin, please <a onclick="location.reload()">reload </a> the page.

      </span>
    </div>

    <div id="generalMessage" class="popupWindow">
      <span id="generalMessageMsg"> </span>
      <span id="generalMessageClose"></span>

    </div>

    <div id="infoMessage" class="popupWindow">
      <span id="infoMessageMsg"> </span>
      <span id="infoMessageOk"></span>
    </div>

    <div id="generalMessageButton" class="popupWindow">
      <span class="button"> {{getString 'JoinClassMsg'}}  </span> <br />

    </div>
  </div>
</div>
