<div id="popupContainer">
  <div id="about-modal" class="rv-vanilla-modal">
    <div id="recordingContainer" class="popupWindow">
      <div class="rv-vanilla-modal-header group" id="recordingHeaderContainer">
        <h2 class="rv-vanilla-modal-title" id="recordingHeader"> {{getString 'uploadsession'}}</h2>
      </div>

      <div class="rv-vanilla-modal-body">
        <div id="progressContainer">
          <div id="totProgressCont">
            <div id="totalProgressLabel"> {{getString 'totalprogress'}} </div>
            <div id="progress">
              <div id="progressBar" class="progressBar"></div>
              <div id="progressValue" class="progressValue"> 0%</div>
            </div>
          </div>

          <div id="indvProgressCont">
            <div id="indvProgressLabel"> {{getString 'indvprogress'}} </div>
            <div id="indProgress">
              <div id="indProgressBar" class="progressBar"></div>
              <div id="indProgressValue" class="progressValue"> 0%</div>
            </div>
          </div>
        </div>

        <div id="recordFinishedMessageBox">
          <span id="recordFinishedMessage">  {{getString 'uploadedsession'}} </span>
          <span id="recordingClose" class="icon-close"></span>
        </div>
      </div>
    </div>

     {{!--  for play window --}}
    <div id="recordPlay" class="popupWindow">
      <div class="rv-vanilla-modal-body">

        <div id="downloadPcCont">
          <div id="downloadSessionText">{{getString 'downloadsession'}}</div>
          <div id="downloadPrgressLabel"> {{getString 'overallprogress'}} </div>
          <div id="downloadProgress">
            <div id="downloadProgressBar" class="progressBar"></div>
            <div id="downloadProgressValue" class="progressValue"> 0% </div>
          </div>
        </div>

        <div id="askPlay">
          <div id="askplayMessage"> </div>
          <button id="playButton" class="icon-play">{{getString 'play'}}</button>
        </div>

      </div>
    </div>

     {{!-- for replay window --}}
    <div id="replayContainer" class="popupWindow">
      <p id="replayMessage">{{getString 'replay_message'}}</p>
      <div id="replayClose" class="close icon-close"></div>
      <button id="replayButton" class="icon-repeat">{{getString 'replay'}} </button>
    </div>

     {{!-- For confirm window --}}
    <div id="confirm" class="popupWindow simple-box"></div>

     {{!--  For Session End window --}}
    <div id="sessionEndMsgCont" class="popupWindow">
      <span id="sessionEndClose" class="icon-close"></span>
      <span id="sessionEndMsg"> {{getString 'sessionendmsg'}} </span>
    </div>

    {{!-- For confirm window  --}}
    <div id="waitMsgCont" class="popupWindow">
      <span id="waitMsg"> {{getString 'waitmsgconnect'}} </span>
    </div>

  </div>
</div>