<div id="virtualclassPreCheck"  class="bootstrap">
  <div id="preCheckcontainer">
    <div class="container  ">
      <!-- Modal -->
      <div class="modal in" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div id="precheckSkip" class="button clearfix">
                <span class="skip"></span>
              </div>
              <div id="preCheckProgress">
                <ul class="progressbar" id="congProgressbar">
                  <li class="screen1 browser active"></li>
                  <li class="screen2 bandwidth"></li>
                  <li class="screen5 speaker"></li>
                  <li class="screen4 mic"></li>
                  <li class="screen3 webcam"></li>
                </ul>
              </div>

              <div id="vcBrowserCheck" class="precheck browser">
                <div class="testName"> {{getString 'testingbrowser'}}  </div>
                <!-- <div class="progress"> Progressing .... </div> -->
                <div class="result"></div>
                <div id="browserButtons" class="button clearfix">
                  <button type="button" class="next btn btn-default">{{getString 'Next'}}</button>
                </div>
              </div>

              <div id="vcBandWidthCheck" class="precheck bandwidth">
                <div class="testName"> {{getString 'testinginternetspeed'}} </div>
                <!-- <div class="progress"> Progressing....</div> -->
                <div class="result"><img src="https://cdn.congrea.net/resources/images/progressbar.gif" /></div>
                <div id="bandwidthButtons" class="button clearfix">
                  <button type="button" class="prev btn btn-default">{{getString 'Prev'}}</button>
                  <button type="button" class="next btn btn-default">{{getString 'Next'}}</button>
                </div>
              </div>

              <div id="vcSpeakerCheck" class="precheck speaker">
                <div class="testName"> {{getString 'testingspeaker'}} </div>
                <!-- <div class="progress"> Progressing....</div> -->
                <audio id="vcSpeakerCheckAudio">
                  <source src="{{whiteboardPath}}resources/audio/audio_music.ogg">
                  <source src="{{whiteboardPath}}resources/audio/audio-music.mp3">
                </audio>

                <div class="result"></div>

                <div id="speakerButtons" class="button clearfix">
                  <button type="button" class="prev btn btn-default">{{getString 'Prev'}}</button>
                  <button type="button" class="next btn btn-default">{{getString 'Next'}}</button>
                </div>
              </div>

              <div id="vcMicCheck" class="precheck mic">
                <div class="testName"> {{getString 'testingmichrophone'}}</div>
                <!-- <div class="progress"> Progressing....</div> -->
                <div id="audioVisualaizerCont">
                  <div id="audioGraph"></div>
                </div>

                <div class="result"></div>

                <div id="micButtons" class="button clearfix">
                  <button type="button" class="prev btn btn-default">{{getString 'Prev'}}</button>
                  <button type="button" class="next btn btn-default">{{getString 'Next'}}</button>
                </div>
              </div>

              <div id="vcWebCamCheck" class="precheck webcam">
                <div class="testName">  {{getString 'testingwebcam'}} </div>
                <!-- <div class="progress"> Progressing....</div> -->
                <div id="webcamTempVideoCon">
                  <video id="webcamTempVideo"></video>
                </div>

                <div class="result"></div>

                <div id="joinSession" class="button clearfix">
                  <button type="button" class="prev btn btn-default">{{getString 'Prev'}}</button>
                  <button type="button" class="next btn btn-default">{{getString 'JoinSession'}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>