<div id= "rightBarHeader" class="active">
  <div id="userListHeader" class= "rightBarHeader active" >{{getString "userListHeader"}}<span id='onlineusertext' class='cgText'></span></div>
  <div id="commonChatHeader" class= "rightBarHeader">{{getString "commonChatHeader"}}</div>
  {{#if std}}
    <div id="techVideoHeader" class= "rightBarHeader">{{getString "teacherVideoHeader"}}</div>
  {{/if}}
  <div id="askQuestionHeader" class= "rightBarHeader">
    <div class="header">
      <div class="text">
        <span class="lable">{{getString 'askQuestionHeader'}}</span>
      </div>
      <div class="action">
        <span class="addQuestion-icon"></span>
        <span class="help-icon"></span>
        <span class="fullScreen-icon"></span>
        {{#if isPlayMode}}
          <span class="viewAll"></span>
        {{/if}}
      </div>
    </div>
  </div>
  <div id="virtualclassnoteHeader" class= "rightBarHeader" ><div class='header'>{{getString "virtualclassnoteHeader"}}</div></div>
</div>
